# Volt Analytics

## Import Dependencies

In [1]:
import os
import datetime as dt
import numpy as np
import pandas as pd
import openpyxl as Workbook

pd.set_option('display.max_rows', 500)

In [2]:
currentDate =  dt.datetime.today().date()
currentDate

datetime.date(2017, 9, 19)

## Read in CSV files

In [3]:
#Volt Daily Data
voltDailyData = pd.read_csv('data/voltdailydata_' + currentDate.strftime('%Y%m%d') + '.csv')
voltDailyData['Date'] = pd.to_datetime(voltDailyData['Date'])
voltDailyData['Date'] = voltDailyData['Date'].dt.date

In [4]:
voltDailyData.head()

         Date  MilesDriven  EvMilesDriven  GallonsBurned
0  2017-06-25        163.7           52.6        3.03005
1  2017-06-26        202.4           42.5        4.15543
2  2017-06-27        202.3           53.8        3.97314
3  2017-06-28        197.7           52.4        3.93617
4  2017-06-29        192.6           45.2        3.83577

In [5]:
# Calculate total ICE (Internal Combustion Engine) miles driven
voltDailyData = voltDailyData.rename(columns = {'MilesDriven':'TotalMilesDriven'})
voltDailyData['TotalICEMiles'] = voltDailyData['TotalMilesDriven'] - voltDailyData['EvMilesDriven']
voltDailyData.head()

         Date  TotalMilesDriven  EvMilesDriven  GallonsBurned  TotalICEMiles
0  2017-06-25             163.7           52.6        3.03005          111.1
1  2017-06-26             202.4           42.5        4.15543          159.9
2  2017-06-27             202.3           53.8        3.97314          148.5
3  2017-06-28             197.7           52.4        3.93617          145.3
4  2017-06-29             192.6           45.2        3.83577          147.4

In [6]:
# Create new DailyMPG Column, round values after adding new column
voltDailyData['DailyMPG'] = voltDailyData['TotalMilesDriven'] / voltDailyData['GallonsBurned']
voltDailyData['DailyMPG'] = pd.to_numeric(voltDailyData['DailyMPG'], errors='coerse')
voltDailyData = voltDailyData.replace(np.nan, 0)
voltDailyData = voltDailyData.round(2)
voltDailyData.head()

,Date,TotalMilesDriven,EvMilesDriven,GallonsBurned,TotalICEMiles,DailyMPG
0,2017-06-25,163.7,52.6,3.03,111.1,54.03
1,2017-06-26,202.4,42.5,4.16,159.9,48.71
2,2017-06-27,202.3,53.8,3.97,148.5,50.92
3,2017-06-28,197.7,52.4,3.94,145.3,50.23
4,2017-06-29,192.6,45.2,3.84,147.4,50.21

In [7]:
# Add '250+' miles to any DailyMPG value that has a value of infinity
# Why 250+? That's the "infinity mileage" that the volt displays in car
voltDailyData = voltDailyData.replace(np.inf, '250+')
voltDailyData.head()

,Date,TotalMilesDriven,EvMilesDriven,GallonsBurned,TotalICEMiles,DailyMPG
0,2017-06-25,163.7,52.6,3.03,111.1,54.03
1,2017-06-26,202.4,42.5,4.16,159.9,48.71
2,2017-06-27,202.3,53.8,3.97,148.5,50.92
3,2017-06-28,197.7,52.4,3.94,145.3,50.23
4,2017-06-29,192.6,45.2,3.84,147.4,50.21

In [8]:
voltDailyData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 6 columns):
Date                67 non-null object
TotalMilesDriven    67 non-null float64
EvMilesDriven       67 non-null float64
GallonsBurned       67 non-null float64
TotalICEMiles       67 non-null float64
DailyMPG            67 non-null object
dtypes: float64(4), object(2)
memory usage: 3.2+ KB

## Volt Readings

In [9]:
#Volt Readings throughout the day (usually two), convert Timestamp to datetime object
voltReadings = pd.read_csv('data/voltdata_' + currentDate.strftime('%Y%m%d') + '.csv')
voltReadings.rename(columns = {'LocalTimestamp':'Date', 'GallonsBurned': 'LifeTimeGalBurned'}, inplace=True)
voltReadings['Date'] = pd.to_datetime(voltReadings['Date'])
voltReadings.head()

,BatteryLevel,ChargeState,OilLife,TirePressure_LF,TirePressure_LR,TirePressure_RF,TirePressure_RR,Date,LifeTimeGalBurned,LifetimeFuelEcon,LifetimeEvMiles,LifetimeMiles,LastTripFuelEcon,LastTripEvMiles,LastTripMiles,GallonsOfGas
0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,2017-09-19 18:26:49,760.2289,64.89379,20635.22148,49334.13224,0.0,0.0,0.0,3.17535
1,0.0,NaN,0.0,0.0,0.0,0.0,0.0,2017-09-18 19:30:13,760.2289,64.85196,20603.41349,49302.33046,0.0,0.0,0.0,3.17535
2,0.0,NaN,0.0,0.0,0.0,0.0,0.0,2017-09-18 06:39:52,760.2289,64.80439,20567.26211,49266.17287,0.0,0.0,0.0,3.17535
3,0.0,NaN,0.0,0.0,0.0,0.0,0.0,2017-09-17 18:44:08,760.2289,64.80438,20567.26211,49266.16044,0.0,0.0,0.0,3.21233
4,0.0,NaN,0.0,0.0,0.0,0.0,0.0,2017-09-17 06:02:14,760.2289,64.80438,20567.26211,49266.16044,0.0,0.0,0.0,3.21233

In [10]:
# Select only columns desired
voltReadings = voltReadings[['Date', 'LifeTimeGalBurned', 'LifetimeFuelEcon', 'LifetimeEvMiles','LifetimeMiles']]

In [11]:
# Calculate LifetimeICEMiles
voltReadings['LifetimeICEMiles'] = voltReadings['LifetimeMiles'] - voltReadings['LifetimeEvMiles']

In [12]:
# Sort based on timestamp, reorder columns, round values
voltReadings.sort_values(by='Date', inplace=True)
voltReadings = voltReadings[['Date', 'LifeTimeGalBurned','LifetimeFuelEcon','LifetimeEvMiles','LifetimeICEMiles','LifetimeMiles']]
voltReadings = voltReadings.round(2)
voltReadings['Date'] = voltReadings.Date.dt.normalize()
voltReadings.head()

,Date,LifeTimeGalBurned,LifetimeFuelEcon,LifetimeEvMiles,LifetimeICEMiles,LifetimeMiles
167,2017-06-24,593.83,68.35,17941.91,22643.54,40585.45
166,2017-06-25,593.83,68.35,17941.91,22643.54,40585.45
165,2017-06-25,596.65,68.27,17988.50,22746.30,40734.80
164,2017-06-26,596.86,68.27,17994.46,22754.70,40749.16
163,2017-06-26,601.02,68.14,18036.93,22914.62,40951.55

In [13]:
# Drop dupes based on date column
voltReadings.drop_duplicates(subset='Date', keep='last', inplace=True)
voltReadings.head()

,Date,LifeTimeGalBurned,LifetimeFuelEcon,LifetimeEvMiles,LifetimeICEMiles,LifetimeMiles
167,2017-06-24,593.83,68.35,17941.91,22643.54,40585.45
165,2017-06-25,596.65,68.27,17988.50,22746.30,40734.80
163,2017-06-26,601.02,68.14,18036.93,22914.62,40951.55
161,2017-06-27,604.19,68.05,18084.05,23032.74,41116.79
159,2017-06-28,608.17,67.93,18130.94,23180.56,41311.50

In [14]:
# Combine dataframes based on date indexes
voltStats = pd.concat([voltReadings.set_index('Date'),voltDailyData.set_index('Date')], join='inner', axis=1)
voltStats.head()

,LifeTimeGalBurned,LifetimeFuelEcon,LifetimeEvMiles,LifetimeICEMiles,LifetimeMiles,TotalMilesDriven,EvMilesDriven,GallonsBurned,TotalICEMiles,DailyMPG
Date,,,,,,,,,,
2017-06-25,596.65,68.27,17988.50,22746.30,40734.80,163.7,52.6,3.03,111.1,54.03
2017-06-26,601.02,68.14,18036.93,22914.62,40951.55,202.4,42.5,4.16,159.9,48.71
2017-06-27,604.19,68.05,18084.05,23032.74,41116.79,202.3,53.8,3.97,148.5,50.92
2017-06-28,608.17,67.93,18130.94,23180.56,41311.50,197.7,52.4,3.94,145.3,50.23
2017-06-29,612.76,67.80,18188.35,23355.81,41544.16,192.6,45.2,3.84,147.4,50.21
2017-06-30,613.11,67.78,18188.35,23368.04,41556.39,12.2,0.0,0.35,12.2,35.25
2017-07-01,615.91,67.67,18221.60,23454.26,41675.86,119.5,33.3,2.80,86.2,42.64
2017-07-02,617.78,67.62,18247.15,23526.58,41773.73,97.9,25.5,1.87,72.4,52.34
2017-07-03,618.53,67.59,18256.11,23553.02,41809.13,35.4,9.0,0.75,26.4,47.35
2017-07-04,618.53,67.61,18266.88,23553.01,41819.89,10.8,10.8,0.00,0.0,250+
2017-07-05,622.36,67.51,18324.70,23692.16,42016.87,197.0,57.8,3.83,139.2,51.39
2017-07-06,622.36,67.53,18337.03,23692.17,42029.20,12.3,12.3,0.00,0.0,250+
2017-07-07,622.36,67.53,18337.03,23692.17,42029.20,6.4,6.4,0.00,0.0,250+
2017-07-08,622.36,67.54,18343.48,23692.16,42035.64,3.0,3.0,0.00,0.0,250+
2017-07-09,622.36,67.55,18347.35,23692.16,42039.51,0.9,0.9,0.00,0.0,250+
2017-07-10,625.97,67.47,18412.71,23824.16,42236.87,197.4,65.4,3.61,132.0,54.7
2017-07-11,630.19,67.36,18475.92,23973.35,42449.27,212.4,63.2,4.22,149.2,50.35
2017-07-12,634.12,67.26,18541.47,24111.43,42652.91,203.6,65.6,3.93,138.0,51.76
2017-07-13,636.73,67.21,18596.33,24196.63,42792.96,140.1,54.9,2.61,85.2,53.73
2017-07-17,642.49,67.12,18701.91,24420.11,43122.02,203.8,45.9,4.03,157.9,50.62
2017-07-18,646.24,67.04,18761.50,24560.31,43321.81,204.3,61.9,3.86,142.4,52.9
2017-07-19,649.30,66.97,18818.13,24666.32,43484.45,197.6,62.3,3.80,135.3,52.02
2017-07-20,653.72,66.88,18892.47,24829.33,43721.80,197.8,66.3,3.57,131.5,55.34
2017-07-21,654.18,66.87,18897.56,24848.75,43746.31,24.5,5.1,0.45,19.4,53.92
2017-07-22,654.18,66.88,18901.11,24848.75,43749.86,3.6,3.6,0.00,0.0,250+
2017-07-23,654.18,66.88,18904.65,24848.75,43753.40,3.5,3.5,0.00,0.0,250+
2017-07-24,657.97,66.80,18963.99,24987.40,43951.39,198.0,59.3,3.79,138.7,52.19
2017-07-25,661.58,66.73,19035.68,25113.73,44149.40,198.0,71.7,3.61,126.3,54.83
2017-07-26,664.03,66.70,19097.76,25191.68,44289.44,140.0,62.1,2.45,77.9,57.17
2017-07-27,664.27,66.74,19136.08,25199.94,44336.02,46.6,38.3,0.24,8.3,198.2
2017-07-28,665.92,66.74,19174.97,25267.88,44442.85,106.8,38.9,1.65,67.9,64.58
2017-08-01,683.10,66.24,19331.17,25914.83,45246.00,198.4,54.5,3.83,143.9,51.79
2017-08-02,685.75,66.20,19385.66,26013.52,45399.19,198.3,54.5,3.70,143.8,53.58
2017-08-03,690.42,66.09,19443.03,26186.15,45629.18,207.4,57.4,4.22,150.0,49.16
2017-08-04,692.97,66.03,19475.07,26282.85,45757.91,106.2,32.0,1.95,74.2,54.47
2017-08-05,694.82,65.97,19483.66,26353.12,45836.78,78.9,8.6,1.84,70.3,42.79
2017-08-06,695.06,66.03,19535.82,26358.06,45893.89,57.1,52.2,0.24,4.9,237.52
2017-08-07,696.17,66.00,19544.06,26405.16,45949.21,55.3,8.2,1.11,47.1,49.61
2017-08-08,700.02,65.92,19608.40,26538.61,46147.01,197.8,64.3,3.85,133.5,51.35
2017-08-09,703.95,65.83,19667.06,26676.01,46343.07,196.1,58.7,3.93,137.4,49.92
2017-08-10,707.54,65.78,19739.07,26802.15,46541.22,198.1,72.0,3.59,126.1,55.18
2017-08-11,707.54,65.78,19739.07,26802.15,46541.22,0.0,0.0,0.00,0.0,0
2017-08-12,707.54,65.78,19739.07,26802.15,46541.22,0.0,0.0,0.00,0.0,0
2017-08-13,707.54,65.79,19745.32,26802.14,46547.47,6.3,6.3,0.00,0.0,250+
2017-08-14,711.26,65.72,19813.34,26930.72,46744.06,196.6,68.0,3.72,128.6,52.89
2017-08-15,715.05,65.65,19874.27,27067.76,46942.02,198.0,60.9,3.79,137.1,52.19
2017-08-16,717.16,65.62,19926.26,27137.00,47063.26,121.2,52.0,2.11,69.2,57.49
2017-08-17,718.16,65.64,19975.12,27166.30,47141.43,121.5,59.2,1.81,62.3,67.04
2017-08-18,718.97,65.63,19985.50,27199.30,47184.80,0.0,0.0,0.00,0.0,0
2017-08-19,718.97,65.63,19985.50,27199.32,47184.82,0.0,0.0,0.00,0.0,0
2017-08-20,718.97,65.63,19985.50,27199.34,47184.84,7.4,2.5,0.13,4.9,56.03
2017-08-21,722.87,65.55,20041.05,27340.77,47381.82,189.6,53.0,3.76,136.6,50.37
2017-08-22,726.87,65.46,20097.95,27482.55,47580.50,198.7,56.9,4.00,141.8,49.68
2017-08-23,726.87,65.50,20129.18,27482.55,47611.72,31.2,31.2,0.00,0.0,250+
2017-08-24,729.97,65.45,20191.18,27585.91,47777.09,165.4,62.0,3.10,103.4,53.38
2017-08-27,731.24,65.45,20222.44,27637.00,47859.44,0.0,0.0,0.00,0.0,0
2017-09-03,738.88,65.32,20354.49,27911.24,48265.73,0.0,0.0,0.00,0.0,0
2017-09-04,738.88,65.32,20354.49,27911.24,48265.73,0.0,0.0,0.00,0.0,0
2017-09-05,743.08,65.21,20398.06,28058.53,48456.59,190.9,43.6,4.20,147.3,45.42
2017-09-06,746.62,65.08,20398.06,28191.02,48589.08,132.5,0.0,3.54,132.5,37.4
2017-09-07,747.46,65.09,20441.99,28213.95,48655.94,70.8,43.9,0.91,26.9,78.14
2017-09-08,749.27,65.09,20492.18,28278.29,48770.47,110.6,50.2,1.75,60.4,63.34
2017-09-11,749.56,65.08,20492.18,28288.46,48780.64,0.0,0.0,0.00,0.0,0
2017-09-12,752.57,64.97,20492.18,28403.14,48895.32,196.6,0.0,4.93,196.6,39.86
2017-09-13,757.79,64.79,20492.18,28607.07,49099.25,122.0,0.0,3.30,122.0,36.95
2017-09-18,760.23,64.85,20603.41,28698.92,49302.33,36.2,36.2,0.00,0.0,250+
2017-09-19,760.23,64.89,20635.22,28698.91,49334.13,31.8,31.8,0.00,0.0,250+